* {
  margin: 0;
  padding: 0;
}

.login-box {
  margin: 150px auto;
  width: 30%;
  height: auto;
  border: 1px solid #000000;
  text-align: center;
  background-color: #00000050;
}

.login-box form {
  margin: 10px 20px;
}

.login-box h1 {
  margin: 10px 20px;
  font-size: 30px;
}

.login-box form p {
  text-align: left;
}

.login-box form input {
  width: 100%;
  height: 20px;
  font-size: 24px;
}

.login-box form button {
  width: 50%;
  height: 30px;
  margin: 15px auto;
  font-size: 18px;
  border: wheat;
  border-radius: 10px;
}
